
form{
    align-self: center;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    margin-left:20%;
    margin-bottom: 5%;
}
input{
    margin-left: 20px;
}

fieldset{
    width: 100%;
    height: 74px;
    margin: 20px 20px 20px 20px;
    display:inline-block;

}
.botao{
    align-items: flex-start;
    justify-content: flex-start;
}
.form-group{
    display: inline-block;
    justify-content: space-between;
    align-items: center;
}
fieldset > span{
    color: red;
    margin-top: 13px;
}
.container{
    margin-top: 13px;
}
fieldset.container{
    width: 100vw;
}