<!DOCTYPE html>
<html lang="pt" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <title>Clientes</title>
</head>

    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Clientes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#textoNavbar" aria-controls="textoNavbar" aria-expanded="false" aria-label="Alterna navegação">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="textoNavbar">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#" th:href="@{/}">Clientes<span class="sr-only">(Página atual)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" th:href="@{/novo-cliente}">Novo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"  th:href="@{/alterar-cliente}">Alterar</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"  th:href="@{/remover-cliente}">Remover</a>
            </li>
          </ul>
          <span class="navbar-text">
            Systema para cadastro de Clientes
          </span>
        </div>
      </nav>
  
<body>

    <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"/>
<br>
<h2 class="text-center">Tabela de Clientes</h2>
<br>

<div class = "table-responsive">
    <table class="table table-md table-bordered">
        <thead class="thead-dark">
            <tr>
                <th scope="col"  class="align-middle text-center"> ID </th>
                <th scope="col"  class="align-middle text-center"> EMPRESA </th>
                <th scope="col"  class="align-middle text-center"> CNPJ </th>
                <th scope="col"  class="align-middle text-center"> E-CAC </th>
                <th scope="col"  class="align-middle text-center"> Nº SOCIAL </th>
                <th scope="col"  class="align-middle text-center"> CPF </th>
                <th scope="col"  class="align-middle text-center"> RG </th>
                <th scope="col"  class="align-middle text-center"> DATA DE NASCIMENTO </th>
                <th scope="col"  class="align-middle text-center"> T. ELEITOR </th>
                <th scope="col"  class="align-middle text-center"> RUA </th>
                <th scope="col"  class="align-middle text-center"> NUMERO </th>
                <th scope="col"  class="align-middle text-center"> BAIRRO </th>
                <th scope="col"  class="align-middle text-center"> CIDADE </th>
                <th scope="col"  class="align-middle text-center"> UF </th>
                <th scope="col"  class="align-middle text-center"> CEP </th>
                <th scope="col"  class="align-middle text-center"> EMAIL </th>
            </tr>
    
        </thead>
        <tbody>
            <tr th:each="cliente : ${allcliente}"  class="align-middle text-center">
                <th scope="row" th:text="${cliente.id} " > </th>
                <td th:text="${cliente.empresa}"> </td>
                <td th:text="${cliente.cnpj}"> </td>
                <td th:text="${cliente.e_cac}"> </td>
                <td th:text="${cliente.n_social}"> </td>
                <td th:text="${cliente.cpf}"> </td>
                <td th:text="${cliente.rg}"> </td>
                <td th:text="${cliente.dataDeNascimento}"> </td>
                <td th:text="${cliente.tituloDeEleitor}"> </td>
                <td th:text="${cliente.rua}"> </td>
                <td th:text="${cliente.numero}"> </td>
                <td th:text="${cliente.bairro}"> </td>
                <td th:text="${cliente.cidade}"> </td>
                <td th:text="${cliente.estado}"> </td>
                <td th:text="${cliente.cep}"> </td>
                <td th:text="${cliente.email}"> </td>

            </tr>
        </tbody>
    </table>
</div>
<br>



</body>
</html>