<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <title>Novo Cliente</title>
</head>

<script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Clientes</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#textoNavbar" aria-controls="textoNavbar" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="textoNavbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a class="nav-link" href="#" th:href="@{/cliente}">Clientes</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#" th:href="@{/novo-cliente}">Novo<span class="sr-only">(Página atual)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"  th:href="@{/alterar-cliente}">Alterar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"  th:href="@{/remover-cliente}">Remover</a>
        </li>
      </ul>
      <span class="navbar-text">
        Systema para cadastro de Clientes
      </span>
    </div>
  </nav>

<body>
    <h1 class="text-center">Novo Cliente</h1>

  <div class="container form-inline">
    <form th:action="@{/cliente}" th:object="${cliente}" method="post" class="form-control-md">
           
        <div class="form-group">
          <label for="input-empresa">Empresa: </label>
          <input id="input-empresa" class="form-control " type="text" name="empresa"   th:field="*{empresa}"     th:placeholder="Empresa"/>
          <span th:if="${#fields.hasErrors('empresa')}" th:errors="*{empresa}">Empresa Error</span>
        </div>

        <div class="form-group">
          <label for="input-cnpj">CNPJ: </label>
          <input id="input-cnpj" class="form-control " type="text" name="cnpj" th:field="*{cnpj}" th:placeholder="Cnpj"/>
          <span th:if="${#fields.hasErrors('cnpj')}" th:errors="*{cnpj}">Cnpj Error</span>
        </div>

        <div class="form-group">
          <label for="input-ecac">E-Cac:</label>
          <input id="input-ecac" class="form-control" type="text" name="e_cac" th:field="*{e_cac}" th:placeholder="E_cac"/>
          <span th:if="${#fields.hasErrors('e_cac')}" th:errors="*{e_cac}">E_cac Error</span>
        </div>

        <div class="form-group">
          <label for="input-nsocial">Nº Social:</label>
          <input  id="input-nsocial" class="form-control" type="text" name="n_social" th:field="*{n_social}" th:placeholder="N_social"/>
          <span th:if="${#fields.hasErrors('n_social')}" th:errors="*{n_social}">N_social Error</span>
        </div>

        <div class="form-group">
          <label for="input-cpf">CPF:</label>  
          <input id="input-cpf" class="form-control" type="text" name="cpf" th:field="*{cpf}" th:placeholder="cpf"/>
          <span th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}">cpf Error</span>
        </div>
        
        <div class="form-group">
          <label for="input-rg">RG:</label>
          <input id="input-rg" class="form-control" type="text" name="rg" th:field="*{rg}" th:placeholder="rg"/>
          <span th:if="${#fields.hasErrors('rg')}" th:errors="*{rg}">rg Error</span>
        </div>

        <div class="form-group">
          <label for="input-datadenascimento">Data de Nascimento:</label>
          <input id="input-datadenascimento" class="form-control"  type="text" name="dataDeNascimento" th:field="*{dataDeNascimento}" th:placeholder="dataDeNascimento"/>
          <span th:if="${#fields.hasErrors('dataDeNascimento')}" th:errors="*{dataDeNascimento}">dataDeNascimento Error</span>
        </div>

        <div class="form-group">
          <label for="input-titulo">Titulo Eleitor:</label>
          <input id="input-titulo" class="form-control" type="text" name="tituloDeEleitor" th:field="*{tituloDeEleitor}" th:placeholder="tituloDeEleitor"/>
          <span th:if="${#fields.hasErrors('tituloDeEleitor')}" th:errors="*{tituloDeEleitor}">tituloDeEleitor Error</span>
        </div>

        <div class="form-group">
          <label for="input-rua">Rua:</label>
          <input id="input-rua" class="form-control" type="text" name="rua" th:field="*{rua}" th:placeholder="rua"/>
          <span th:if="${#fields.hasErrors('rua')}" th:errors="*{rua}">rua Error</span>
        </div>

        <div class="form-group">
          <label for="input-numero">Nº </label>
          <input id="input-numero" class="form-control" type="text" name="numero" th:field="*{numero}" th:placeholder="Numero"/>
          <span th:if="${#fields.hasErrors('numero')}" th:errors="*{numero}">Numero Error</span>
        </div>

        <div class="form-group">
          <label for="input-bairro">Bairro: </label>
          <input id="input-bairro" class="form-control" type="text" name="bairro" th:field="*{bairro}" th:placeholder="Bairro"/>
          <span th:if="${#fields.hasErrors('bairro')}" th:errors="*{rg}">Bairro Error</span>
        </div>

        <div class="form-group">
          <label for="input-cidade">Cidade:</label>
          <input id="input-cidade" class="form-control" type="text" name="cidade" th:field="*{cidade}" th:placeholder="Cidade"/>
          <span th:if="${#fields.hasErrors('cidade')}" th:errors="*{cidade}">Cidade Error</span>
        </div>

        <div class="form-group">
          <label for="input-estado">Estado</label>
          <input id="input-estado" class="form-control" type="text" name="estado" th:field="*{estado}" th:placeholder="Estado"/>
          <span th:if="${#fields.hasErrors('estado')}" th:errors="*{estado}">Estado Error</span>

        </div>
        <div class="form-group">
          <label for="input-cep">CEP:  </label>
          <input id="input-cep" class="form-control" type="text" name="cep" th:field="*{cep}" th:placeholder="Cep"/>
          <span th:if="${#fields.hasErrors('cep')}" th:errors="*{rg}">Cep Error</span>

        </div>
        <div class="form-group">
          <label for="input-email">E-Mail:</label>
          <input id="input-email" class="form-control" type="text" name="email" th:field="*{email}" th:placeholder="email"/>
          <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email Error</span>
        </div>

        <br>
        <br/>
        <button class="btn btn-primary" type="submit">Salvar</button>
        <button class="btn btn-primary" type="reset">Limpar</button>
    </form>
  </div>




</body>

</html>