<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>
    <title>Remover</title>
</head>

    <script th:src="@{/webjars/jquery/3.0.0/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/1.12.9-1/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js}"></script>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Clientes</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#textoNavbar" aria-controls="textoNavbar" aria-expanded="false" aria-label="Alterna navegação">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="textoNavbar">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="#" th:href="@{/}">Clientes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" th:href="@{/novo-cliente}">Novo</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#"  th:href="@{/alterar-cliente}">Alterar</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="#"  th:href="@{/remover-cliente}">Remover<span class="sr-only">(Página atual)</span></a>
            </li>
          </ul>
          <span class="navbar-text">
            Systema para cadastro de Clientes
          </span>
        </div>
      </nav>
  
<body>

    <div th:if="${message}" th:text="${message}" th:class="${'alert ' + alertClass}"/>
<br>
<h2 class="text-center">Remover Cliente</h2>
<br>


    <form action="#" th:action="@{/delete-cliente}" th:object="${Long}" method="post" class="form-control-md">

        <input id="input-empresa" class="form-control " type="text" name="id"  />


        <span class="container">
              <button class="btn btn-primary" type="submit">Salvar</button>
              <button class="btn btn-primary" type="reset">Limpar</button>
        </span>
    </form>



</body>
</html>